body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #DDD;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #DDD;
  padding: 0;
}
